body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #4373DF;
}

header, footer {
  /* Estilos para o header e footer */
}

.content {
  margin-bottom: 60px; /* Deve ser pelo menos a altura do seu footer */
}

